<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="boardMapper">

	<select id="listCount" resultType="_int">
		SELECT COUNT(*)
		FROM BOARD
		WHERE STATUS = 'Y'
	</select>


	<select id="boardList" resultType="Board">
		SELECT BOARD_NO
		,BOARD_TITLE
		,BOARD_WRITER
		,COUNT
		,CREATE_DATE
		,ORIGIN_NAME
		,CHANGE_NAME
		FROM BOARD
		WHERE STATUS = 'Y'
		ORDER BY CREATE_DATE DESC
	</select>


	<update id="increaseCount" parameterType="_int">
		UPDATE BOARD
		SET COUNT =
		COUNT+1
		WHERE BOARD_NO = #{bno}
		AND STATUS = 'Y'
	</update>

	<select id="boardDetail" resultType="Board" parameterType="_int">
		SELECT BOARD_NO
				,BOARD_TITLE
				,BOARD_WRITER
				,BOARD_CONTENT
				,ORIGIN_NAME
				,CHANGE_NAME
				,CREATE_DATE
		FROM BOARD
		WHERE BOARD_NO = #{bno}
		AND STATUS ='Y'
	</select>

	<insert id="boardInsert" parameterType="Board">
		INSERT INTO
		BOARD(BOARD_NO
		,BOARD_TITLE
		,BOARD_WRITER
		,BOARD_CONTENT
		,CHANGE_NAME
		,ORIGIN_NAME)
		VALUES(SEQ_BNO.NEXTVAL
		,#{boardTitle}
		,#{boardWriter}
		,#{boardContent}
		,#{changeName}
		,#{originName})
	</insert>

	<update id="updateBoard" parameterType="Board">
		UPDATE BOARD
		SET
		BOARD_TITLE = #{boardTitle}
		,BOARD_CONTENT = #{boardContent}
		,CHANGE_NAME = #{changeName}
		,ORIGIN_NAME = #{originName}
		WHERE BOARD_NO
		= #{boardNo}
		AND STATUS = 'Y'
	</update>

	<delete id="deleteBoard" parameterType="_int">
		DELETE FROM BOARD
		WHERE
		BOARD_NO = #{bno}
	</delete>

	<!-- <update id="deleteBoard" parameterType="_int"> UPDATE BOARD SET STATUS 
		= 'N' WHERE BOARD_NO = #{bno} </update> -->

	<!-- 검색을 위한 동적 sql 처리 test안에서 조건처리 연산자는 java문법처럼 사용 (같다 == , = 할당 ) 주의 ! -->
	<select id="searchList" resultType="Board"
		parameterType="hashmap">
		SELECT BOARD_NO
		,BOARD_TITLE
		,BOARD_WRITER
		,COUNT
		,CREATE_DATE
		,ORIGIN_NAME
		,CHANGE_NAME
		FROM BOARD
		<choose>
			<when test="condition == 'title'">
				WHERE BOARD_TITLE LIKE '%'||#{keyword}||'%'
			</when>
			<when test="condition == 'writer'">
				WHERE BOARD_WRITER = #{keyword}
			</when>
			<otherwise>
				WHERE BOARD_CONTENT LIKE '%'||#{keyword}||'%'
			</otherwise>
		</choose>
		AND STATUS = 'Y'
		ORDER BY CREATE_DATE DESC
	</select>

	<!-- 검색된 게시글 개수 -->
	<select id="searchListCount" resultType="_int">
		SELECT COUNT(*)
		FROM BOARD
		<choose>
			<when test="condition == 'title'">
				WHERE BOARD_TITLE LIKE '%'||#{keyword}||'%'
			</when>
			<when test="condition == 'writer'">
				WHERE BOARD_WRITER = #{keyword}
			</when>
			<otherwise>
				WHERE BOARD_CONTENT LIKE '%'||#{keyword}||'%'
			</otherwise>
		</choose>
		AND STATUS = 'Y'

	</select>


	<!-- 댓글목록 -->
	<select id="replyList" resultType="Reply" parameterType="_int">
		SELECT
		REPLY_NO
		,REPLY_CONTENT
		,REPLY_WRITER
		,TO_CHAR(CREATE_DATE,'YYYY-MM-DD
		HH24:MI:SS') "CREATE_DATE"
		FROM REPLY
		WHERE REF_BNO = #{refBno}
		AND
		STATUS = 'Y'
		ORDER BY CREATE_DATE DESC
	</select>


	<insert id="insertReply" parameterType="Reply">
		INSERT INTO
		REPLY(REPLY_NO
		,REPLY_CONTENT
		,REPLY_WRITER
		,REF_BNO)
		VALUES (
		SEQ_RNO.NEXTVAL
		,#{replyContent}
		,#{replyWriter}
		,#{refBno}
		)

	</insert>

	<select id="topList" resultType="Board">
		SELECT *
		FROM (SELECT BOARD_NO
		,BOARD_TITLE
		,BOARD_WRITER
		,COUNT
		,TO_CHAR(CREATE_DATE,'YYYY-MM-DD')
		"CREATE_DATE"
		,ORIGIN_NAME
		,CHANGE_NAME
		FROM BOARD
		ORDER BY COUNT DESC)
		WHERE ROWNUM BETWEEN 1 AND 5
	</select>


	<select id="selectBoardNo" resultType="_int">
		<!-- 시퀀스 번호 추출해가기 -->
		SELECT SEQ_BNO.NEXTVAL
		FROM DUAL
	</select>

	<!-- 번호 먼저 추출해서 등록하는 버전 -->
	<insert id="insertPhoto2" parameterType="Board">
		INSERT INTO BOARD(BOARD_NO
		,BOARD_WRITER
		,BOARD_TITLE
		,BOARD_CONTENT
		)
		VALUES (#{boardNo} <!-- 번호는 미리 뽑아서 가져왔기 때문에 시퀀스 이용하지 않음 -->
		,#{boardWriter}
		,#{boardTitle}
		,#{boardContent})
	</insert>

	<insert id="insertPhoto" parameterType="Board">

		<!-- selectkey를 이용하여 insert 구문 내에서 조회하고 그 결과값 사용하기 -->
		<selectKey keyProperty="boardNo" resultType="int"
			order="BEFORE">
			SELECT SEQ_BNO.NEXTVAL FROM DUAL
		</selectKey>

		INSERT INTO BOARD(BOARD_NO
		,BOARD_WRITER
		,BOARD_TITLE
		,BOARD_CONTENT
		)
		VALUES (#{boardNo}
		,#{boardWriter}
		,#{boardTitle}
		,#{boardContent})
	</insert>

	<insert id="insertAttachment" parameterType="Attachment">
		INSERT INTO
		ATTACHMENT(
		FILE_NO
		,REF_BNO
		,ORIGIN_NAME
		,CHANGE_NAME
		,FILE_PATH
		,FILE_LEVEL
		)
		VALUES (
		SEQ_FNO.NEXTVAL
		,#{refBno}
		,#{originName}
		,#{changeName}
		,#{filePath}
		,#{fileLevel}
		)
	</insert>

	
	<insert id="insertAttachmentList">
	
		INSERT ALL
		<!-- collection : 반복요소(컬렉션) item : 현재접근요소변수명 , index : 인덱스변수명 -->
		<foreach collection="list" item="at" index="i">
			INTO
			ATTACHMENT(FILE_NO,REF_BNO,ORIGIN_NAME,CHANGE_NAME,FILE_PATH,FILE_LEVEL)
			VALUES (FILE_NO()
			,SEQ_BNO.CURRVAL <!-- 현재 뽑힌 게시글 번호 -->
			,#{at.originName}
			,#{at.changeName}
			,#{at.filePath}
			,#{at.fileLevel})
		</foreach>
		SELECT * FROM DUAL
	</insert>


	<select id="photoList" resultType="Board">
		SELECT BOARD_NO
		,BOARD_TITLE
		,COUNT
		,FILE_PATH||AT.CHANGE_NAME "CHANGE_NAME"
		FROM BOARD B
		JOIN
		ATTACHMENT AT ON (BOARD_NO=REF_BNO)
		WHERE FILE_LEVEL = 1
		ORDER BY CREATE_DATE DESC
		
	</select>


	<select id="attachmentList" resultType="Attachment">
		SELECT FILE_NO
			  ,ORIGIN_NAME
			  ,FILE_PATH||CHANGE_NAME "CHANGE_NAME"
		FROM ATTACHMENT
		WHERE REF_BNO = #{bno}
		ORDER BY FILE_NO
	</select>
	
	<update id="statusN">
		UPDATE BOARD
		SET STATUS = 'N'
		WHERE BOARD_NO = (SELECT BOARD_NO
		                  FROM (SELECT BOARD_NO
		                          FROM BOARD
		                          WHERE STATUS = 'Y'
		                          ORDER BY CREATE_DATE)
		                 WHERE ROWNUM =1)
	</update>
	
	<select id="nList" resultType="Board">
		SELECT * 
		FROM BOARD
		WHERE STATUS = 'N'
		ORDER BY CREATE_DATE DESC
	</select>
	
	<update id="updateStatusN">
		UPDATE BOARD
		SET STATUS = 'N'
		WHERE BOARD_NO = #{bno}
	</update>
	
	



</mapper>